body {
background-color:#4c0000;
bckground-image:url("/storage/sdcard0/my code/image/BeautyPlus.jpg");
width:345px;
cursor:pointer;
text-decoration:none;
display:block;
}
.navigation-bar {
dispalay:inline-block;
background-color:#A01B1F;
text-align:center;
text-decoration:none;
height:40px;
color:yellow;
text-transform:uppercase;
}
p {
font-size:large:
font-weight:bolder;
font-style:oblique;
font-family:emoji sarif sans-sarif;
text-align:left;
text-decoration:#5F0002;
text-spacing:normal;
color:#FFB6B3;
}
h2 {
color:red;
text-transform:capitalize;
}
.container {
display:block;
display: list-item block
border-width:10px;
width:195px;
padding:5px;
box-shadow:lenth;

float:left;
margin:5px;
height:188px;
color:#FFB6B3;
background-color:#630300;
}

a {
color:gray;
font:family;
text-decoration:none;
}
.note {
text-align:center;
}
#foot {
background-color:#580A0C;
color:gray;
text-decoration:none;
width:345px;
word-break:loose;
white-space:normal;
text-transform:capitalize;
align-content:center;
}
li {
list-style-type:none;
margin:5px;
margin:10px;
text-align:center;
background-color:uchsia;
color:white;
position:fixed
overflow:auto;
}
mysearch{
  background-color: greenyellow;
  
}


